CRS.Client/CRS.Client/Connected Services/CarRentalService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4040/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Context" />
  <xs:element name="GetAllCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="GetAllCarsResult" nillable="true" type="q1:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="GetCarByIdResult" nillable="true" type="q2:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="car" nillable="true" type="q3:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="car" nillable="true" type="q4:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q5:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="customer" nillable="true" type="q6:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="customer" nillable="true" type="q7:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="GetAllReservationsResult" nillable="true" type="q8:ArrayOfReservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvaibleCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvaibleCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="GetAvaibleCarsResult" nillable="true" type="q9:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="reservation" nillable="true" type="q10:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="reservation" nillable="true" type="q11:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="reservation" nillable="true" type="q12:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinishReservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>